body{
	width: 95%;
	
	display: flex;
	justify-content: center;

}
#wrapper{
	box-sizing: border-box;
	width: 95%;
	margin: 5 auto;
	padding:0;
	display:flex;
	flex-flow: column wrap;
}
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

header span{
	padding: 5px;
	font-size: 24pt;
	color: white;
	font-weight: 800;
	text-decoration: none;
	background-color: black;
	box-shadow: inset 2px 2px 5px red;
	margin: 5px;
}

header a{
	padding: 5px;
	font-size: 16pt;
	color: white;
	font-weight: 800;
	text-decoration: none;
	background-color: red;
	box-shadow: inset 2px 2px 5px black;
	margin: 5px;
}

main{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
main div{
	display: flex;
	border: 2px solid red;
	align-items: center;
	flex-direction: column;
}
main div span{
	padding: 5px;
	font-size: 24pt;
	color: white;
	font-weight: 800;
	text-decoration: none;
	background-color: red;
	box-shadow: inset 2px 2px 5px black;
}
img{
	width: 100%;
}
td img {
	width: 50px;
	
}
table{
    border-collapse: collapse;
}
td{
	border: 1px solid black;
	text-align: center;
}



header a:hover{
	padding: 7px;
	font-size: 24pt;
	color: white;
	font-weight: 800;
	background-color: red;
	box-shadow: inset 4px 4px 4px 5px black;
	margin: 5px;
}